*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { --scrollbar-width: 15px; --scrollbar-height: 15px; --scrollbar-border-thickness: 3px; --scrollbar-thumb-color: #646F81; } body::-webkit-scrollbar-button { background: var(--scrollbar-button-color, #3F3F46); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar { width: var(--scrollbar-width, 20px); height: var(--scrollbar-height, 20px); }body::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-color, #3B82F6); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar-track { background: var(--scrollbar-track-color, #A1A1AA); }body::-webkit-scrollbar-corner { background: var(--scrollbar-corner-color, #FFFFFF); border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255)); border-radius: var(--scrollbar-border-radius, 4px); }body::-webkit-scrollbar-button:vertical:start:increment, #preview::-webkit-scrollbar-button:vertical:end:decrement, #preview::-webkit-scrollbar-button:horizontal:start:increment, #preview::-webkit-scrollbar-button:horizontal:end:decrement { display: var(--show-double-buttons, none); }
.container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
 
    padding: 0;
}

img{
    width: 350px;
}


.imagen{
    padding: 2px;
    margin: 20px;
    border-radius: 3%;
    cursor: pointer;
    -webkit-box-shadow: -1px 4px 23px 4px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 4px 23px 4px rgba(0,0,0,0.51);
    box-shadow: -1px 4px 23px 4px rgba(0,0,0,0.51);

}