*{
    padding: 0;
    margin: 0;
}


.container div{
    display: inline-block;
    width: 49%;
    height: 40px;
    background: blue;
    overflow: hidden;
}

.circle{
    display: inline-block;
    width: 25%;
    height: 25px;
    border-radius: 50%;
    background: olive;
}

.box{
    display: inline-block;
    position: relative;
    max-width: 100;
    width: 49.5px;
    height: 30px;
    overflow: hidden;
}
.logo{
    position: relative;

    top: -10px;
    display: inline-block;
    background-color: aqua;
}